/*! GENERAL STYLES */
* {
  font-family: "Open Sans";
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: "Ubuntu", sans-serif; */
  /* background-color: aqua; */
}

body {
  display: grid;
}

.margin-container {
  padding: 0;
  margin-left: 16%;
  margin-right: 16%;
  /* background-color: aqua; */
}

main {
  /* min-height: 100vh; */
  display: grid;
}


/*! HEADER - NAVIGATION BAR */
.header-top-container {
  height: 14px;
  width: 100%;
  top: 0;
  background-color: #762124;
}

.header-bar {
  height: 48px;
  width: 80%;
  margin-top: 42px;
  margin-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  align-content: center;
  align-items: center;
}

.header-title {
  margin-right: auto;
  color: #3c3e3f;
  font-size: 26px;
  text-align: left;
}

.header-nav-bar {
  height: 48px;
  width: 560px;
  padding-left: 4px;
  padding-right: 4px;

  background-color: #364a5c;
  border-radius: 45px;
  display: flex;

  align-content: center;
  align-items: center;
}

.header-chip,
.header-chip-selected,
.header-chip-category,
.header-chip-bold,
.header-chip-bold-selected {
  height: 34px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-color: #364a5c;
  border-radius: 45px;
  color: aliceblue;
  display: grid;

  text-decoration: none;
  font-size: 15px;
  line-height: 0px;
  font-weight: 500;
  text-align: center;

  align-content: center;
  align-items: center;

  transition: 240ms;
}

.header-chip-selected {
  height: 40px;
  background-color: #fefefe;
  color: #364a5c;
  transition: 320ms;
}


.header-chip:hover {
  background-color: #9fafbda2;
  height: 40px;
}


/*! FOOTER */
.ftr {
  height: 160px;
  width: 100%;
  margin-top: 60px;

  background-color: #364a5c;
  display: flex;
  text-align: center;
}

.id-container {
  height: fit-content;
  width: 240px;
  margin: auto;

  display: grid;
  align-content: center;
  align-items: center;
}

.id-name {
  margin: 0;
  color: #fefefe;
  opacity: 0.6;
}

.id-num {
  margin: 0;
  color: #fefefe;
  opacity: 0.2;

  transition: 320ms;
}

.id-container:hover .id-num {
  opacity: 0.6;
}

.trdmrk {
  height: 20px;
  margin: 0;

  background-color: #364a5c;
  color: #fefefe90;

  font-size: 12px;
  text-align: center;
}


/*! WELCOME TITLE */
.backdrop {
  height: 460px;
  width: 100%;
  padding-right: 0;

  background: url(images/background-3.jpg) no-repeat center center;
  background-color: bisque;
  background-size: cover;
  display: grid;
}

.welcome-image-diffuser {
  height: 100%;
  width: 100%;
  display: grid;

  background-image: linear-gradient(275deg,
      #364a5ca5,
      #364a5cb3,
      #364a5ca1,
      #364a5c4a,
      rgba(255, 255, 255, 0));
}

.msg-container {
  height: 370px;
  width: 51vw;
  margin-top: 90px;

  right: 0;
  position: absolute;
  color: #fefefe;
}

.msg-title {
  font-size: 48px;
  line-height: 18px;
  font-weight: 400;
  text-shadow: 0px 0px 12px #364a5c;
}

.msg-text {
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 0px 12px #364a5c;
}

.btn {
  height: 50px;
  width: fit-content;
  margin-top: 70px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #fefefe;
  border-radius: 45px;
  color: #364a5c;
  display: flex;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  align-content: center;
  align-items: center;

  transition: 320ms;
}

.btn-icon {
  height: 24px;
  padding-right: 12px;
}

.btn:hover {
  background-color: #fefefe8e;
  color: #fefefe;
  scale: 1.02;
}


/*! SMALL CARD */
.small-card-container {
  height: fit-content;
  width: 100%;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}

.small-card,
.small-card-middle {
  height: inherit;
  margin: 0;

  background-color: #fefefe;
  border-radius: 3.2vw;
  border: 4px solid #364a5c;
  /* opacity: 0.9; */
  overflow-y: hidden;

  transition: 420ms;
}

.small-card-link,
.small-card-link-middle {
  height: 320px;
  width: 30%;
  text-decoration: none;
}

.small-card-link-middle {
  margin-left: auto;
  margin-right: auto;
}

.small-card-image {
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  background: no-repeat center top;
  background-size: cover;
  border-radius: 2.7vw;
  display: grid;

  align-content: bottom;
  align-items: bottom;

  transition: 580ms;
}

.small-card-image-diffuser {
  height: 100%;
  width: 100%;

  border-radius: 2.7vw;
  /* background-color: rgba(0, 0, 0, 0.35); */
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8));
  align-content: bottom;
  align-items: bottom;
  display: grid;

  transition: 520ms;
}

.small-card-preview-title {
  width: 80%;
  margin-top: auto;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;

  color: white;
  opacity: 1;
  font-size: 28px;

  transition: 220ms;
}

.small-card-details {
  opacity: 0;
  transition: 420ms;
}

.small-card-title {
  width: 80%;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  color: #364a5c;
}

.small-card-summary {
  width: 80%;
  height: 114px;
  overflow-y: auto;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;

  color: #757777;
  font-size: 16px;
  line-clamp: 2;
  max-lines: 2;
}

.small-card-btn-container {
  height: 20px;
  width: 40%;
  margin-top: auto;
  background-color: black;
}

.small-card-link:hover .small-card-image {
  height: 160px;
}

.small-card-link-middle:hover .small-card-image {
  height: 160px;
}

.small-card-link:hover .small-card-details {
  opacity: 1;
}

.small-card-link-middle:hover .small-card-details {
  opacity: 1;
}

.small-card-link:hover .small-card-preview-title {
  opacity: 0;
}

.small-card-link-middle:hover .small-card-preview-title {
  opacity: 0;
}

.small-card-link:hover .small-card-image-diffuser {
  opacity: 0;
}

.small-card-link-middle:hover .small-card-image-diffuser {
  opacity: 0;
}

.small-card-link:hover .small-card{
  border-color: #762124;
}

.small-card-link-middle:hover .small-card{
  border-color: #762124;
}


/*! ABOUT  */
.about-container {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;

  align-items: center;
  align-content: center;
  background: no-repeat center center;
  background-color: bisque;
  background-size: cover;
}

.about-a-title {
  margin: 0;

  text-align: center;
  font-size: 44px;
  font-weight: 900;
  color: #fefefe;
}

.about-a-quote {
  /* width: 80%; */
  margin-top: 50px;

  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  text-shadow: 0px 0px 4px #762124;
  color: #fefefe;
}

.about-diffuser {
  width: 100%;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #2d0a0348;
}

.about-segment {
  width: 100%;
  height: fit-content;

  /* background-color: yellow; */
}

.about-space {
  height: 40px;
}

.about-segment-title {
  margin: 0;
  margin-bottom: 6px;
  color: #364a5c;
}

.about-segment-paragraph,
.about-li,
.about-a {
  margin: 0;
  color: #757777;
  font-size: 16.5px;
  text-decoration: none;
}

.about-b {
  color: #494949;
}

.about-li {
  width: fit-content;
  margin: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.about-li:hover a {
  /* text-decoration:underline; */
  color: #2b3035;
}

.about-styled-table {
  border-collapse: collapse;
  margin: 0;
  font-size: 16px;
  /* min-width: 400px; */
  width: 100%;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.about-styled-table thead tr {
  background-color: #762124;
  color: #ffffff;
  text-align: left;
}

.about-styled-table th,
.about-styled-table td {
  padding: 12px 15px;

  transition: 80ms;
}

.about-styled-table td {
  color: #757777;
}


.about-styled-table tr:hover td {
  /* text-decoration:underline; */
  color: #2b3035;
}

.about-styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}


.about-styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #762124;
}

/*! PAGE SEGMENTS */
.sgm-container {
  height: fit-content;
  width: 100%;
  margin-top: 30px;
  /* background-color: violet; */
  /* margin-left: 16%;
  margin-right: 16%; */
}

.sgm-header {
  height: 80px;
  width: 100%;

  display: flex;
  align-content: center;
  align-items: center;
}

.sgm-title {
  font-size: 32px;
  line-height: 0px;
  font-weight: 600;
  color: #364a5c;
}

.sgm-icon {
  height: 42px;
  padding-right: 14px;
}

.sgm-btn {
  height: 50px;
  width: fit-content;
  margin-top: 44px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #364a5c;
  border-radius: 45px;
  display: flex;

  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  align-content: center;
  align-items: center;

  transition: 220ms;
}

.sgm-btn:hover {
  background-color: #762124;
  color: #fefefe;
  scale: 1.02;
}


/*! DESTINATION DETAILS  */
.imgdetails {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background: no-repeat center center;
  background-size: cover;
}

.image-difusor-details {
  height: 100%;
  width: 100%;

  /* background-color: rgba(0, 0, 0, 0.35); */
  background-color: #364a5c71;
  align-content: center;
  align-items: center;
  display: grid;
}

.img-title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fefefe;
  font-size: 60px;
}

.details {
  line-height: 25px;
  margin-top: 50px;
  color: #757777;
}

.space {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

.logo {
  border-radius: 50px;
  background-color: #fefefe96;
  width: 220px;
  /* height:70px; */
  /* float: right; */
  margin: 20px auto auto 0px;
  /* margin-top: 20px; */
  /* margin-right: auto; */
  /* padding-left: auto; */
  /* margin-top:160px; */

  padding: 4px;
  padding-right: 10px;

  transition: 320ms;
}

.logo:hover {
  background-color: #fefefe;
  scale: 1.02;
}

/*! DESTINATIONS LIST  */
.container {
  height: 270px;
  /* width: 900px; */
  border-radius: 50px;
  border: 4px solid #364a5c;
  padding: 0;
  margin-right: 100px;
  background-color: #fefefe;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: grid;
  padding: 10px 20px;

  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #364a5c;
  border-radius: 45px;
  outline: none;
  float: right;
  position: absolute;

  margin-top: 150px;
  margin-left: 28%;
  padding-top: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;

  cursor: pointer;

  transition: 320ms;
}


.txtm {
  padding-left: 20px;
  font-size: 26px;
  color: #364a5c;
  font-weight: 600;
  /* background-color: aqua; */
}

.txt {
  padding-right: 70px;
  margin-left: 20px;
  width: fit-content;
  float: left;
  color: #757777;
  font-size: 15px;
}

.image {
  border-radius: 45px;
  object-fit: cover;
  width: 35%;

}

.button:hover {
  background-color: #762124;
  scale: 1.02;
}